<div class="d-flex flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('teams.all_teams')%></h2>
      <% if can? :create, Team %>
        <%= link_to t('teams.add_team'), new_team_path,{class: 'btn my-primary-btn',remote: true, 'data-toggle' =>  "modal", 'data-target' => '#model_window'}  %>
      <% end %>
    </div>
    <div id="teams_table">
      <%= render 'teams_table', teams: @teams, pagy: @pagy %>
    </div>
    <div id = "model_window" class="modal fade" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content"></div>
      </div>
    </div>
  </div>
</div>