<h3>Comments</h3>
<% if can? :create, comment %>
<div id="comment_form" class="mb-4">
  <%= render partial: 'comments/comment_form', locals: { resource: resource, comment: comment } %>
</div>
<% end %>
<p><%= pluralize(comments.length, 'Comment') %></p>
<% comments.each do |icomment| %>
<div id="comment_<%= icomment.id %>" class="card mb-2">
<%= render partial: 'comments/comment', locals: { comment: icomment } %>
</div>
<% end %>