<h3><%= Comment.model_name.human(count: 0) %></h3>
<div id="comment_form" class="mb-4">
  <%= render 'comments/comment_form', resource: resource, comment: comment %>
</div>
<div id="page_comments_list">
  <%= render 'comments/comments_list', comments: comments, pagy: pagy %>
</div>
