<h3>Comments</h3>
<div id="comment_form" class="mb-4">
	<%= render partial: 'comments/comment_form', locals: { resource: resource, comment: comment } %>
</div>
<p><%= pluralize(comments.length, 'Comment') %></p>
<% comments.each do |icomment| %>
<%= render partial: 'comments/comment', locals: { comment: icomment } %>
<% end %>