<div class="d-flex-flex-column">
  <div class="container-fluid">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <h2 class="h3"><%= t('issues.all_issues') %></h2>
    </div>
  </div>
</div>

<%= render 'issues_list_view', issues: @issues %>
