<div class="container">
  <div id="issue" class="card">
    <%= render 'issue_body', issue: @issue, watcher: @watcher %>
  </div>
  <hr>
  <div id="documents">
    <% @issue.documents.each do |document| %>
      <%= link_to document.blob.filename, rails_service_blob_path(document.blob, filename: document.blob.filename) %>
    <% end %>
    <hr>
  </div>
  <div id="page_comments" class="my-4">
    <%= render 'comments/comments', resource: @issue, comment: @comment, comments: @comments, pagy: @pagy %>
  </div>
  <% if can? :view_all, Watcher %>
    <div id="watchers_list">
      <%= render 'watchers/watchers_list', user_watchers: @user_watchers %>
    </div>
  <% end %>
</div>