<div class="container">
  <% if @user.staff? %>
    <% if can? :change_staff_to_admin, @user %>
      <%= link_to  t('users.change_staff_to_admin'), change_staff_to_admin_user_path(@user), class: 'btn my-primary-btn' %>
    <% end %>
    <br><br>
    <% if can? :change_staff_to_owner, @user %>
      <%= link_to  t('users.change_staff_to_owner'), change_staff_to_owner_user_path(@user), class: 'btn my-primary-btn' %>
    <% end %>
    <br><br>
  <% end %>
  <% if @user.admin? %>
    <% if can? :change_admin_to_owner, @user %>
      <%= link_to  t('users.change_admin_to_owner'), change_admin_to_owner_user_path(@user), class: 'btn my-primary-btn' %>
    <% end %>
    <br><br>
    <% if can? :change_admin_to_staff, @user %>
      <%= link_to  t('users.change_admin_to_staff'), change_admin_to_staff_user_path(@user), class: 'btn my-primary-btn' %>
    <% end %>
  <% end %>
</div>