<div class="my-4">
  <% if companies.length != 0 %>
    <h4><%= t('home.your_companies') %></h4>
    <% companies.each do |company| %>
      <%= render 'company_link', company: company %>
    <% end %>
  <% else %>
    <h5><%= t('home.no_associated_companies_message')</h5>
  <% end %>
</div>
