<h1 align=center> Welcome to Work Flow Engine</h1>
<div class="container">
  <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Projects</h5>
        <p class="card-text">Your All projects are listed here</p>
        <%= link_to 'Click to view',projects_path, class: 'btn btn-primary'%>       
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Teams</h5>
        <p class="card-text">Your All teams are listed here</p>
        <%= link_to 'Click to view',teams_path, class: 'btn btn-primary'%>
      </div>
    </div>
  </div>
</div>
</div>