<div class="row mx-1">
  <div class="col-sm-6 offset-sm-3">
   <h1 class="my-4"><%= t('home.sign_in.title') %></h1>
   <%= form_with url: user_companies_path do |form| %>
     <div class="form-group">
       <%= form.email_field :email, placeholder: t('home.sign_in.email_address_placeholder'), required: true, class: 'form-control' %>
     </div>
     <%= form.submit t('home.sign_in.search'), class: 'btn btn-info' %>
   <% end %>
   <div id="user_companies"></div> 
  </div>
</div>