<div class="card my-2">
  <div class="card-body">
    <p class="card-title m-0"><%= link_to project.name, project_path(project) %><small class="card-subtitle text-muted float-right"><%= project.project_category %></small></p>
    
    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
  </div>
</div>