<br>
<div class="row">
  <div class="col-md-4">
    <h3> <%= t('project.all_users') %></h3>
  </div>
<% if can? :new_user_for_project, @project %>
  <div class="col-md-8 d-flex justify-content-end">
    <%= link_to t('project.add_user') ,new_user_for_project_project_path(@project), {class: 'btn my-primary-btn',remote: true, data: { toggle: "modal", target: '#add_user_to_project_modal'}} %>
  </div>
<% end %>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'users/index_table', users: @project.users, project: @project %>
  </div>
</div>
<div id = "add_user_to_project_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
	</div>
  </div>
</div>