<h3 align = center> All Users </h3>
<%= link_to 'Add Member',new_user_project_path(@project),class: 'btn btn-primary'%>
<br><br>

<ul class="list-group">
  <% @project.users.each do |user| %>
	  <li class="list-group-item d-flex justify-content-between align-items-center">
	    <%= user.name%>
	    <%= link_to 'Remove User',remove_user_project_path(@project,user: user),method: :delete,class: 'badge badge-danger'%>
	  </li>
  <% end %>
</ul>