<br>
<div class="row">
  <div class="col-md-4">
    <h3><%= t('projects.all_teams') %></h3>
  </div>
<% if can? :new_team_for_project, Project %>
  <div class="col-md-8 d-flex justify-content-end">
    <%= link_to t('projects.add_team'), new_team_for_project_project_path(@project), {class: 'btn my-primary-btn', remote: true, data: { toggle: "modal", target: '#add_team_to_project_modal'}}%>
  </div>
<% end %>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <%= render 'teams/teams_table', teams: @project.teams, project: @project %>  
  </div>
</div>
<div id = "add_team_to_project_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
  </div>
  </div>
</div>