<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= @project.name%></h1>
    <p class="lead"><%= @project.project_category%></p>
    <%= link_to 'Back', projects_path,class: 'btn btn-success'%>
  </div>
</div>