@import "bootstrap/scss/bootstrap";
$primary-color: #5bc0de;
$hover-primary-color: #289cd1;

.error-explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 50%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
.my-primary-btn, .my-primary-btn:active, .my-primary-btn:visited {
    background-color: $primary-color !important;
    color: white !important;
}

.my-primary-btn:hover {
   background-color: $hover-primary-color !important;
}