@import "bootstrap/scss/bootstrap";

.error-explanation {
  @extend .alert;
  @extend .alert-danger;
  width: 50%;
  h2 {
    margin-top: 10px;
    font-size: 16px;
  }
  ul {
    margin-top: 2em;
  }
}
