<% flash.each do |type, msg| %>
<<<<<<< HEAD
<div class= "alert alert-<%= type %> alert-dismissible fade show" style= 'display:inline-block;'>
=======
<div class="alert alert-<%= type %> alert-dismissible fade show">
>>>>>>> fb0cc72512890d2c0e1bd5b1834611ceae2da18d
  <%= msg %>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<% end %>