<% if user_signed_in? %>
  <%= render 'layouts/signed_in_user_navbar' %>
<% else %>
  <%= render 'layouts/normal_user_navbar' %>
<% end %>
<div class="breadcrumbs-container">
  <p><%= render_breadcrumbs separator: ' / ' %></p>
</div>
<br>