<% if user_signed_in? %>
  <%= render 'layouts/signed_in_user_navbar' %>
  <% unless params[:controller].eql? 'companies' %>
    <div class="breadcrumbs-container">
     <%= render_breadcrumbs tag: :brd, separator: '<span class="separator"><i class="fas fa-angle-right"></i></span>' %>
    </div>
    <br>
  <% end %>
<% else %>
  <%= render 'layouts/normal_user_navbar' %>
<% end %>
